<!DOCTYPE html>
<html>
  {% load leaflet_tags %}
  <head>
    <title>map</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <!-- for sidebar icons -->
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    {% leaflet_css %} {% leaflet_js %}
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <!-- for sidebar css file -->
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'sgw/sidebar-v2/css/leaflet-sidebar.css' %}"
    />
    <link rel="stylesheet" href="{% static 'sgw/sgwmap.css' %}" />
    <script type="text/javascript">
      Promise.all([
        fetch('{% url "sgw:locationjson" %}'),
        fetch('{% url "sgw:studyspotjson" %}'),
        fetch('{% url "sgw:ratingjson" %}'),
      ])
        .then((responses) => responses.map((response) => response.json()))
        .then(([x, y, z]) => {
          x.then(function (p) {
            y.then(function (q) {
              z.then(function (r) {
                console.log(p);
                console.log(q);
                console.log(r);
              });
            });
          });
        });

      var dataurl = '{% url "sgw:data" %}';
      var map;

      window.addEventListener("map:init", function (event) {
        openHomePageProfile();
        openHomePage();
        map = event.detail.map;

        // add sidebar to mapview
        var sidebar = L.control.sidebar("sidebar").addTo(map);

        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function (resp) {
            return resp.json();
          })
          .then(function (data) {
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties;
                if (props.openingTime == props.closingTime) {
                  var content = `<p>${props.locationName}</p>
                                    <p>Always open</p>`;
                } else {
                  var content = `<p>${props.locationName}</p>
                                    <p>opening hours: ${props.openingTime} - ${props.closingTime}</p>`;
                }
                layer.bindPopup(content);

                layer.on("mouseover", function (e) {
                  this.openPopup();
                });
                layer.on("mouseout", function (e) {
                  this.closePopup();
                });

                layer.on("click", function (e) {
                  openLocationPage(props.locationName);
                });
              },
            }).addTo(map);
          });

        function onLocationFound(e) {
          var radius = e.accuracy;
          L.circle(e.latlng, radius).addTo(map);
        }
        map.on("locationfound", onLocationFound);

        map.locate({ setView: true, maxZoom: 16 });
      });

      //function map_init(map, options) {

      //perhaps can include a button to reset view, or another to fly to current location.
      //perhaps limit map boundaries too.
      //default location: L.map("map").setView([1.296894, 103.776387], 16);

      //for the search bar
      function searchFunction() {
        // Declare variables
        var input, cleanInput, ul, li, button, i, txtValue;
        input = document.getElementById("myInput");
        cleanInput = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
          button = li[i].getElementsByTagName("button")[0];
          txtValue = button.textContent || button.innerText;
          if (txtValue.toUpperCase().indexOf(cleanInput) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }

      function ssfilter() {
        const arr = [];
        ("{% for studyspot in studyspots %}");
        if (
          (document.getElementById("ac").checked == true
            ? "{{ studyspot.airConditioned }}" === "True"
            : true) &&
          (document.getElementById("ws").checked == true
            ? "{{ studyspot.wallSockets }}" === "True"
            : true) &&
          (document.getElementById("df").checked == true
            ? "{{ studyspot.discussionFriendly }}" === "True"
            : true)
        ) {
          arr.push("{{studyspot.description}}");
        }
        ("{% endfor %}");
        return arr;
      }

      let currentPage;
      const filterSection = document.createElement("div");
      filterSection.className = "fs";
      filterSection.innerHTML = `<input
                      type="checkbox"
                      id="ac"
                      value="Bike"
                      onclick="displayPage()"
                    />
                    <label for="ac"> Air-conditioned</label><br />
                    <input type="checkbox" id="df" value="Car" onclick="displayPage()" />
                    <label for="df"> Discussion friendly</label><br />
                    <input type="checkbox" id="ws" value="Boat" onclick="displayPage()" />
                    <label for="ws"> Have wall sockets</label><br /><br />`;

      function displayPage() {
        if (currentPage == "home") {
          openHomePage();
        } else {
          openLocationPage(currentPage);
        }
      }

      function openHomePage() {
        currentPage = "home";
        L.control.sidebar("sidebar").addTo(map).open("home");
        const doc = document.getElementById("mainInterface");
        doc.innerHTML = "";
        doc.appendChild(filterSection);

        const ul = document.createElement("ul");

        ul.id = "myUL";
        const studyspotarr = ssfilter();
        const locationset = new Set();

        ("{% for studyspot in studyspots%}");
        if (studyspotarr.includes("{{studyspot.description}}")) {
          locationset.add("{{studyspot.locationName}}");
        }
        ("{% endfor %}");
        console.log(locationset);

        locationset.forEach((location) => {
          console.log(location);
          const locationPara = document.createElement("li");
          const locationButton = document.createElement("button");

          locationButton.textContent = location;
          locationButton.type = "button";
          locationButton.setAttribute(
            "onclick",
            `openLocationPage("${location}")`
          );
          locationPara.appendChild(locationButton);
          ul.appendChild(locationPara);
        });

        doc.appendChild(ul);
      }

      function openLocationPage(locationName) {
        currentPage = locationName;
        L.control.sidebar("sidebar").addTo(map).open("home");

        ("{% for location in locations %}");
        if (locationName == "{{location.locationName}}") {
          var openingtime = "{{location.openingTime}}";
          var closingtime = "{{location.closingTime}}";
        }
        ("{% endfor %}");

        const doc = document.getElementById("mainInterface");
        doc.innerHTML = "";
        doc.appendChild(filterSection);

        const backButton = document.createElement("button");
        const name = document.createElement("h2");
        const timing = document.createElement("h3");
        const listing = document.createElement("div");

        backButton.id = "backHome";
        backButton.innerHTML = "Back to Homepage";
        backButton.type = "button";
        backButton.setAttribute("onclick", "openHomePage()");

        name.className = "location";
        name.innerHTML = `${locationName}`;
        timing.className = "location";
        if (openingtime == closingtime) {
          timing.innerHTML = "Always open!";
        } else {
          timing.innerHTML = `Operating Time: ${openingtime} - ${closingtime}`;
        }

        let currentLevel, levelSection, title, studyspotPara, studyspotButton;
        const arr = ssfilter();
        console.log(arr);
        ("{% for studyspot in studyspots|dictsort:'levelNumber' %}");
        if (locationName == "{{ studyspot.locationName }}") {
          if (arr.includes("{{studyspot.description}}")) {
            if (currentLevel != "{{ studyspot.levelNumber }}") {
              levelSection = document.createElement("section");
              title = document.createElement("h3");
              studyspotsOnLevel = document.createElement("ul");

              let levelNumber = Number(`{{studyspot.levelNumber}}`);
              if (levelNumber < 0) {
                levelNumber = -levelNumber;
                title.innerHTML = `Level B${levelNumber}`;
              } else {
                title.innerHTML = `Level ${levelNumber}`;
              }

              levelSection.appendChild(title);
              levelSection.appendChild(studyspotsOnLevel);
              listing.appendChild(levelSection);

              currentLevel = "{{ studyspot.levelNumber }}";
            }

            studyspotPara = document.createElement("li");
            studyspotImage = document.createElement("img");
            studyspottext = document.createElement("div");
            //studyspotButton = document.createElement("button");
            //studyspotPara.innerHTML = "{{ studyspot.description }}";

            studyspotPara.classList.add("studyspotbutton");
            studyspotImage.classList.add("photo");
            studyspotImage.src = "{{studyspot.image.url}}";
            studyspotImage.alt = "studyspot_image.jpg";

            // studyspotButton.innerHTML = "{{ studyspot.description }}";
            // studyspotButton.type = "button";
            studyspotPara.setAttribute(
              "onclick",
              "openStudyspotPage('{{ studyspot.description }}')"
            );
            studyspottext.innerHTML = "{{ studyspot.description }}";
            studyspotPara.appendChild(studyspotImage);
            studyspotPara.appendChild(studyspottext);

            //studyspotPara.appendChild(studyspotButton);
            studyspotsOnLevel.appendChild(studyspotPara);
          }
        }
        ("{% endfor %}");

        doc.appendChild(backButton);
        doc.appendChild(name);
        doc.appendChild(timing);
        doc.appendChild(listing);
      }

      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          var cookies = document.cookie.split(";");
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }

      function openStudyspotPage(studyspotDesc) {
        ("{% for studyspot in studyspots %}");
        if (studyspotDesc == "{{studyspot.description}}") {
          var aircon = "{{studyspot.airConditioned}}";
          var dfriendly = "{{studyspot.discussionFriendly}}";
          var wsocket = "{{studyspot.wallSockets}}";
          var locname = "{{studyspot.locationName.locationName}}";
          var pkno = "{{studyspot.pk}}";
          var imgurl = "{{studyspot.image.url}}";
        }
        ("{% endfor %}");

        const ratings = document.createElement("ul");
        ratings.className = "ratingslist";
        ratings.innerHTML = ``;
        let ratingjson = fetch('{% url "sgw:ratingjson" %}')
          .then((x) => x.json())
          .then((x) => {
            const ratingArray = [];
            const lol = x.filter((y) => y.fields.studyspot == pkno);
            lol.forEach((x) => {
              console.log(x);
              ratings.innerHTML += `<li> ${
                x.fields.crowdedness
              }% (${x.fields.whenRated.slice(8, 10)}/${x.fields.whenRated.slice(
                5,
                7
              )}, ${
                Number(x.fields.whenRated.slice(11, 13)) + 8
              }:${x.fields.whenRated.slice(14, 16)}) </li>`;
              ratingArray.push(x);
            });
            ratingDict = {};
            for (let time = 9; time < 21; time += 1) {
              const arr = [];
              ratingArray.forEach((rating) => {
                if (
                  time ===
                  parseInt(rating.fields.whenRated.slice(11, 13)) + 8
                ) {
                  arr.push(rating.fields.crowdedness);
                }
              });
              const avgvalue = arr.reduce((a, b) => a + b, 0) / arr.length;
              ratingDict[`${time}:00`] = avgvalue;
            }
            console.log(ratingDict);
            dataPoints = [];
            var chart = new CanvasJS.Chart("chartContainer", {
              title: {
                text: "Crowdedness",
                fontFamily: "Arial",
              },
              data: [
                {
                  type: "column",
                  dataPoints: dataPoints,
                },
              ],
              axisY: {
                maximum: 100,
                minimum: 0,
              },
            });
            for (var time in ratingDict) {
              dataPoints.push({ label: time, y: ratingDict[time] });
            }
            chart.render();
          });

        const backButton = document.createElement("button");
        const heading = document.createElement("h2");

        const studyspotImage = document.createElement("img");
        studyspotImage.className = "ssphoto";
        studyspotImage.src = imgurl;
        studyspotImage.alt = "studyspot_image.jpg";

        const attribs = document.createElement("h3");
        const graphdiv = document.createElement("div");
        const rform = document.createElement("form");
        graphdiv.id = "chartContainer";
        graphdiv.style = "height: 300px; width: 100%;";

        backButton.id = "backLocation";
        backButton.innerHTML = `<< ${locname}`;
        backButton.type = "button";
        backButton.setAttribute("onclick", `openLocationPage("${locname}")`);

        heading.className = "ss";
        heading.innerHTML = `Viewing ${studyspotDesc}`;
        attribs.className = "ss";
        attribs.innerHTML = `<p>Air-conditioned: ${aircon}</p>
                <p>Can hold discussions: ${dfriendly}</p>
                <p>Has wall sockets: ${wsocket}</p>
                <p>Here are the past contributed crowdedness ratings: </p>`;

        // lol.forEach((x) => (ratings.innerHTML += `<li> ${x} </li>`));

        rform.id = "rform";
        rform.innerHTML = `{%csrf_token%}
        <p><label for = 'value'> Gauge the crowdedness of this place: </label></p>
        <p>Empty <input type="range" min="1" max="100" value="50" class="slider" id="myRangeSlider"> Packed </p>
        <input type="submit" value="Submit">
        `;

        var slider = document.getElementById("myRangeSlider");
        var outputNum = document.createElement("h4");
        // outputNum.innerHTML = slider.value;

        rform.appendChild(outputNum);

        console.log(ratings);

        const cleareddoc = document.getElementById("mainInterface");

        cleareddoc.innerHTML = "";
        cleareddoc.appendChild(backButton);
        cleareddoc.appendChild(heading);
        cleareddoc.appendChild(studyspotImage);
        cleareddoc.appendChild(attribs);
        cleareddoc.appendChild(ratings);
        cleareddoc.appendChild(graphdiv);
        cleareddoc.appendChild(rform);

        document
          .getElementById("rform")
          .addEventListener("submit", function (e) {
            e.preventDefault();

            var formData = new FormData();
            var valueField = document.getElementById("myRangeSlider").value;

            let headers = new Headers();
            const csrftoken = getCookie("csrftoken");
            headers.append("X-CSRFToken", csrftoken);

            formData.append("value", valueField);
            formData.append("ssname", `${studyspotDesc}`);
            formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");

            fetch('{% url "sgw:ratingform" %}', {
              method: "POST",
              body: formData,
              headers: headers,
              credentials: "same-origin",
            })
              // .then((response) => response.json())
              .catch((error) => console.error("Error:", error))
              .then((response) => {
                console.log("Success:", response);
                openStudyspotPage(studyspotDesc);
              });
          });
      }

      let user; 

      function openHomePageProfile() {
        L.control.sidebar("sidebar").addTo(map).open("profile");
        const doc = document.getElementById("mainInterfaceProfile");
        doc.innerHTML = "";
        console.log(`{{ user.is_authenticated }}`); 
        if ("{{user.is_authenticated }}" != "True" && user == null) { openLoginpage(); return; }
        if ("{{user.is_authenticated }}" == "True" ) { user = "{{ user.get_username }}"; }

        const greeting = document.createElement("h2");
        greeting.className = "profile";
        
        greeting.innerHTML = `Hello, ${user}`;
        
        const contribBtn = document.createElement("button");
        contribBtn.innerHTML = `Contribute a place`;
        contribBtn.type = "button";
        contribBtn.setAttribute("onclick", `openStudySpotContrib()`);

        doc.appendChild(greeting);
        doc.appendChild(contribBtn);
        console.log("is authenticated"); 

        //logout button: to be formatted
        const logoutButton = document.createElement("button");
        logoutButton.textContent = "log out";
        logoutButton.onclick = (e) => {
          fetch("{% url 'sgw:logout' %}").then((r) => {
          user=null;
          openLoginpage();  });
        };
        doc.appendChild(logoutButton);
        

        //under construction

        //use requestcontext to check if user is signed in and retrieve username

        // UserCreationForm: to be relocated
      }

      //temp
      function openUserpage() {
        //TODO
        alert("Logged in");
        return;
      }

      // users are redirected here from openHomePageProfile() if user = anonymous, or from openUserRegpage()
      // after they submit the form
      function openLoginpage() {

        L.control.sidebar("sidebar").addTo(map).open("profile");
        const doc = document.getElementById("mainInterfaceProfile");
        doc.innerHTML = "";
        const greeting = document.createElement("h2");
        const subgreeting = document.createElement("h4");
        greeting.className = "profile";
        subgreeting.className = "profile";
        greeting.innerHTML = "Hello, stranger";
        subgreeting.innerHTML = "You have to be logged in before contributing a rating or study spot.";

        const newUserBtn = document.createElement("button");
        newUserBtn.innerHTML = `I don't have an account yet`;
        newUserBtn.type = "button";
        newUserBtn.setAttribute("onclick", `openUserRegpage()`);

        //may want to use django messages instead of alert
        // check permissions and groups too

        //login form: to be relocated
        const loginform = document.createElement("form");
        loginform.id = "loginform";
        loginform.enctype = "multipart/form-data";
        loginform.method = "post";
        loginform.action = "{% url 'sgw:loginform' %}";
        loginform.innerHTML = `{%csrf_token%}
        <table>
          {{ lform.as_p }}
        </table>
        <input type="submit" value="Submit">
        `;

        // spare items
        `
        <input type="hidden" name="next" value="{{ next }}" />
        `;

        // if you setup the password_reset view in your URLconf
        // <p><a href=" <djangotag> url 'password_reset' <djangotag>">Lost password?</a></p>

        loginform.onsubmit = async (e) => {
          e.preventDefault();

          formdata = new FormData(loginform);
          let response = await fetch('{% url "sgw:loginform" %}', {
            method: "POST",
            body: formdata,
          })
            .then((resp) => resp.json())
            .then((data) => {
              if (data["result"] == "Success!") {
                user = data["username"];
                openHomePageProfile();
                 } //may be the openHomePageProfile() instead once the form is relocated
                else { alert(data["message"]);  } }
            ); 
        };
        
        doc.appendChild(greeting); 
        doc.appendChild(subgreeting); 
        doc.appendChild(loginform);
        doc.appendChild(newUserBtn); 
      }

      // users are redirected here from openLoginpage() if they clicked new user button
      function openUserRegpage() {
        L.control.sidebar("sidebar").addTo(map).open("profile");
        const doc = document.getElementById("mainInterfaceProfile");
        doc.innerHTML = "";

        const greeting = document.createElement("h2");
        greeting.className = "profile";
        greeting.innerHTML = "Create a new user";

        const backBtn = document.createElement("button");
        backBtn.innerHTML = `Back to Login`;
        backBtn.type = "button";
        backBtn.id = "backHomeProfile";
        backBtn.setAttribute("onclick", `openHomePageProfile()`);

        const userRegForm = document.createElement("form");
        userRegForm.id = "userregform";
        userRegForm.enctype = "multipart/form-data";
        userRegForm.method = "post";
        userRegForm.action = "{% url 'sgw:usercreation' %}";
        userRegForm.innerHTML = `{%csrf_token%}
        <table>
          {{ uform.as_p }}
        </table>
        <input type="submit" value="Submit">
        `;
        userRegForm.onsubmit = async (e) => {
          e.preventDefault();

          formdata = new FormData(userRegForm);
          let response = await fetch('{% url "sgw:usercreation" %}', {
            method: "POST",
            body: formdata,
          })
            .then((resp) => resp.json())
            .then((data) =>
              data["message"] == "sucessful creation"
                ? openHomePageProfile() //to be implemented
                : alert(data["message"])
            );
        };
        doc.appendChild(backBtn); 
        doc.appendChild(greeting);
        doc.appendChild(userRegForm);
      }

      function openStudySpotContrib() {
        const cleareddoc = document.getElementById("mainInterfaceProfile");
        cleareddoc.innerHTML = "";

        const backBtn = document.createElement("button");
        backBtn.innerHTML = `Back to Your Profile`;
        backBtn.type = "button";
        backBtn.id = "backHomeProfile";
        backBtn.setAttribute("onclick", `openHomePageProfile()`);

        // create form element
        const contribform = document.createElement("form");
        contribform.id = "contribform";
        contribform.enctype = "multipart/form-data";
        contribform.innerHTML = `{%csrf_token%}
        <table>
          <b>
          <p>1. Click on the map to set the location</p>
          <p>2. Fill in the details about the place below</p>
          </b>
          {{ cform.as_p }}
        </table>
        <input type="submit" value="Submit">
        `;

        cleareddoc.appendChild(backBtn);
        cleareddoc.appendChild(contribform);

        var labels = document.getElementsByTagName("LABEL");

        // removing labels
        for (var i = 0; i < labels.length; i++) {
          if (
            labels[i].htmlFor == "id_user" ||
            labels[i].htmlFor == "id_geom"
          ) {
            labels[i].parentNode.removeChild(labels[i]);
          }
        }

        // removing buttons
        var userqn = document.getElementById("id_user");
        userqn.parentNode.removeChild(userqn);
        var geomqn = document.getElementById("id_geom");
        geomqn.parentNode.removeChild(geomqn);
        // to insert back button and to remove marker after submit

        // putting marker
        map.on("click", onMapClick);
        var popup = new L.Popup();
        let lat, lng;

        function onMapClick(e) {
          lat = e.latlng.lat;
          lng = e.latlng.lng;
          popup.setLatLng(e.latlng);
          popup.setContent("You selected this point");
          map.openPopup(popup);
        }

        // handles form submission
        contribform.onsubmit = async (e) => {
          e.preventDefault();

          if (lat == undefined) {
            alert("You haven't selected a point on the map");
            return;
          }

          formdata = new FormData(contribform);
          let geom = [lat, lng];
          formdata.append("geom", geom);
          formdata.append("user", "any");

          let response = await fetch('{% url "sgw:studyspotform" %}', {
            method: "POST",
            body: formdata,
          });
          map.closePopup(popup);
          alert("Thanks for your contribution!");
          let result = await openHomePageProfile();
        };
      }
    </script>
  </head>
  <body>
    {% leaflet_map "mymap" %}
    <div id="sidebar" class="sidebar collapsed">
      <!-- navigation tabs -->
      <div class="sidebar-tabs">
        <ul role="tablist">
          <li>
            <a href="#home" role="tab"><i class="fa fa-search"></i></a>
          </li>
          <li>
            <a href="#favourites" role="tab"><i class="fa fa-star"></i></a>
          </li>
          <li>
            <a href="#profile" role="tab"><i class="fa fa-user"></i></a>
          </li>
        </ul>
      </div>

      <!-- tab panes -->
      <div class="sidebar-content">
        <div class="sidebar-pane" id="home">
          <h1 class="sidebar-header">
            StudyGoWhere
            <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
          </h1>
          <!-- search bar with filter-->
          <div class="inner-addon left-addon">
            <i class="fa fa-search"></i>
            <input
              type="text"
              id="myInput"
              onkeyup="searchFunction()"
              placeholder="Search for locations.."
            />
          </div>
          <div id="mainInterface"></div>
          <p>copyright (C) 2020 studygowhere inc</p>
        </div>

        <div class="sidebar-pane" id="favourites">
          <h1 class="sidebar-header">
            Favourites
            <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
          </h1>
        </div>

        <div class="sidebar-pane" id="profile">
          <h1 class="sidebar-header">
            Your Profile<span class="sidebar-close"
              ><i class="fa fa-caret-left"></i
            ></span>
          </h1>
          <div id="mainInterfaceProfile"></div>
          <p>copyright (C) 2020 studygowhere inc</p>
        </div>
      </div>
    </div>

    <div id="map" class="sidebar-map"></div>

    <!-- for sidebar js -->
    {% load static %}
    <script src="{% static 'sgw/sidebar-v2/js/leaflet-sidebar.js' %}"></script>
  </body>
</html>
