<!DOCTYPE html>
<html>
  {% load leaflet_tags %}
  <head>
    <title>map</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <!-- for sidebar icons -->
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    {% leaflet_css %} {% leaflet_js %}
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <!-- for sidebar css file -->
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'sgw/sidebar-v2/css/leaflet-sidebar.css' %}"
    />
    <style>
      body {
        padding: 0;
        margin: 0;
      }
      html,
      body,
      #mymap {
        height: 100%;
        width: 100vw;
        font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
      }

      /*for blue header*/
      div .sidebar-header {
        position: sticky;
        top: 0;
        z-index: 100;
      }

      /*for search bar*/
      /* enable absolute positioning */
      .inner-addon {
        position: sticky;
        top: 40px;
        background-color: white;
        z-index: 100;
      }

      /* style icon */
      .inner-addon .fa {
        position: relative;
        padding: 10px;
        pointer-events: none;
        z-index: 100;
      }

      /* align icon */
      .left-addon .fa {
        position: absolute;
        left: 0px;
        top: 3px;
        z-index: 100;
      }

      /*for filter section*/
      div .fs {
        position: sticky;
        top: 82px;
        background-color: white;
        z-index: 100;
      }

      /*for back buttons*/
      #backHome {
        position: sticky;
        top: 153px;
        z-index: 100;
        background-color: white;
      }

      #backLocation {
        position: sticky;
        top: 80px;
        z-index: 100;
        background-color: white;
      }

      h2 {
        position: sticky;
        top: 200px;
        background-color: white;
        z-index: 100;
      }

      h3 {
        position: sticky;
        top: 222px;
        background-color: white;
      }

      /* add padding  */
      .left-addon #myInput {
        width: -webkit-fill-available; /* Full-width */
        font-size: 14px; /* Increase font-size */
        padding: 6px 20px 6px 29px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin-top: 4px;
        margin-bottom: 8px; /* Add some space below the input */
      }

      #myUL,
      #mainInterface ul {
        /* Remove default list styling */
        list-style-type: none;
        padding: 0;
        margin: 0;
      }

      #myUL li button,
      #mainInterface button {
        width: 100%;
        border: 1px solid #ddd; /* Add a border to all links */
        margin-top: -1px; /* Prevent double borders */
        background-color: #f6f6f6; /* Grey background color */
        padding: 12px; /* Add some padding */
        text-decoration: none; /* Remove default text underline */
        font-size: 18px; /* Increase the font-size */
        color: black; /* Add a black text color */
        display: block; /* Make it into a block element to fill the whole list */
      }

      #mainInterface .studyspotbutton {
        width: auto;
        overflow: auto;
        border: 1px solid #ddd; /* Add a border to all links */
        margin-top: -1px; /* Prevent double borders */
        background-color: #f6f6f6; /* Grey background color */
        padding: 6px; /* Add some padding */
        text-decoration: none; /* Remove default text underline */
        font-size: 14px; /* Increase the font-size */
        color: black; /* Add a black text color */
        display: block; /* Make it into a block element to fill the whole list */
      }

      #myUL li button:hover:not(.header),
      #mainInterface button:hover:not(.header),
      #mainInterface .studyspotbutton:hover:not(.header) {
        background-color: #eee; /* Add a hover effect to all links, except for headers */
      }

      .photo {
        float: right;
        width: 30%;
      }
    </style>
    <script type="text/javascript">
      /*     let locationjson = Promise.resolve(
              fetch('{% url "sgw:locationjson" %}').then((x) => x.json())
            );

            let studyspotjson = Promise.resolve(
              fetch('{% url "sgw:studyspotjson" %}').then((x) => x.json())
            );

            console.log(locationjson);
            console.log(studyspotjson);

            locationjson.then((x) => {
              const chosen_id = x.filter((y) => y.fields.locationName == "COM1")[0]
                .pk;

              console.log(chosen_id);

              studyspotjson.then((x) => {
                const lol = x
                  .filter((y) => y.fields.locationName == chosen_id)
                  .map((x) => x.fields.description);
                console.log(lol);
              });
            });
      */

      Promise.all([
        fetch('{% url "sgw:locationjson" %}'),
        fetch('{% url "sgw:studyspotjson" %}'),
        fetch('{% url "sgw:ratingjson" %}'),
      ])
        .then((responses) => responses.map((response) => response.json()))
        .then(([x, y, z]) => {
          x.then(function (p) {
            y.then(function (q) {
              z.then(function (r) {
                console.log(p);
                console.log(q);
                console.log(r);
              });
            });
          });
        });

      var dataurl = '{% url "sgw:data" %}';

      window.addEventListener("map:init", function (event) {
        openHomePage();
        var map = event.detail.map;

        // add sidebar to mapview
        var sidebar = L.control.sidebar("sidebar").addTo(map);

        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function (resp) {
            return resp.json();
          })
          .then(function (data) {
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties;
                if (props.openingTime == props.closingTime) {
                  var content = `<p>${props.locationName}</p>
                                    <p>Always open</p>`;
                } else {
                  var content = `<p>${props.locationName}</p>
                                    <p>opening hours: ${props.openingTime} - ${props.closingTime}</p>`;
                }
                layer.bindPopup(content);

                layer.on("mouseover", function (e) {
                  this.openPopup();
                });
                layer.on("mouseout", function (e) {
                  this.closePopup();
                });

                layer.on("click", function (e) {
                  openLocationPage(props.locationName);
                });
              },
            }).addTo(map);
          });

        function onLocationFound(e) {
          var radius = e.accuracy;
          L.circle(e.latlng, radius).addTo(map);
        }
        map.on("locationfound", onLocationFound);

        map.locate({ setView: true, maxZoom: 16 });
      });

      //function map_init(map, options) {

      //perhaps can include a button to reset view, or another to fly to current location.
      //perhaps limit map boundaries too.
      //default location: L.map("map").setView([1.296894, 103.776387], 16);

      /*
                          To include the studyspots:
                          method 1:
                          for each study spot in list:
                          get point lat and lon
                          var lon = "{{ studyspot.geometry.x }}";
                          var lat = "{{ studyspot.geometry.y }}";
                          add marker to map (and check for color):
                          for red: L.marker([lat, lon],{color: 'red',fillColor: '#f03',fillOpacity: 0.5,}).addTo(map);
                          */
      /*
                          method 2:geojson
                          var studyspots = [{
                            "type": "Feature",
                            "properties": { "name": "hssml","crowdedness": "2","show_on_map": true },
                            "geometry": {
                              "type": "Point",
                              "coordinates": [x1,y1]
                            }
                          }, {
                            "type": "Feature",
                            "properties": { "name": "com1 annex","crowdedness": "3","show_on_map": true },
                            "geometry": {
                              "type": "Point",
                              "coordinates": [x2,y2]
                            }
                          }];

                          function onEachFeature(feature, layer) {
                            layer.on({
                              mouseover: highlightFeature, //to be implemented
                              mouseout: resetHighlight, //to be implemented
                              click: do_something //to be implemented
                            });
                          }

                          L.geoJSON(studyspots, {
                            style: function (feature) {
                              switch (feature.properties.crowdedness) {
                                case '3': return { color: "#ff0000" };
                                case '2': return { color: "#ffff00" };
                                case '1': return { color: "#00ff00" };
                              }
                            },
                            filter: function(feature, layer) {
                              return feature.properties.show_on_map;
                            },
                            onEachFeature: onEachFeature
                          }).addTo(map);      */
      //}

      //for the search bar
      function searchFunction() {
        // Declare variables
        var input, cleanInput, ul, li, button, i, txtValue;
        input = document.getElementById("myInput");
        cleanInput = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
          button = li[i].getElementsByTagName("button")[0];
          txtValue = button.textContent || button.innerText;
          if (txtValue.toUpperCase().indexOf(cleanInput) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }

      function ssfilter() {
        const arr = [];
        ("{% for studyspot in studyspots %}");
        if (
          (document.getElementById("ac").checked == true
            ? "{{ studyspot.airConditioned }}" === "True"
            : true) &&
          (document.getElementById("ws").checked == true
            ? "{{ studyspot.wallSockets }}" === "True"
            : true) &&
          (document.getElementById("df").checked == true
            ? "{{ studyspot.discussionFriendly }}" === "True"
            : true)
        ) {
          arr.push("{{studyspot.description}}");
        }
        ("{% endfor %}");
        return arr;
      }

      let currentPage;
      const filterSection = document.createElement("div");
      filterSection.className = "fs";
      filterSection.innerHTML = `<input
                      type="checkbox"
                      id="ac"
                      value="Bike"
                      onclick="displayPage()"
                    />
                    <label for="ac"> Air-conditioned</label><br />
                    <input type="checkbox" id="df" value="Car" onclick="displayPage()" />
                    <label for="df"> Discussion friendly</label><br />
                    <input type="checkbox" id="ws" value="Boat" onclick="displayPage()" />
                    <label for="ws"> Have wall sockets</label><br /><br />`;

      function displayPage() {
        if (currentPage == "home") {
          openHomePage();
        } else {
          openLocationPage(currentPage);
        }
      }

      function openHomePage() {
        currentPage = "home";
        L.control.sidebar("sidebar").addTo(map).open("home");
        const doc = document.getElementById("mainInterface");
        doc.innerHTML = "";
        doc.appendChild(filterSection);

        const ul = document.createElement("ul");

        ul.id = "myUL";
        const studyspotarr = ssfilter();
        const locationset = new Set();

        ("{% for studyspot in studyspots%}");
        if (studyspotarr.includes("{{studyspot.description}}")) {
          locationset.add("{{studyspot.locationName}}");
        }
        ("{% endfor %}");
        console.log(locationset);

        locationset.forEach((location) => {
          console.log(location);
          const locationPara = document.createElement("li");
          const locationButton = document.createElement("button");

          locationButton.textContent = location;
          locationButton.type = "button";
          locationButton.setAttribute(
            "onclick",
            `openLocationPage("${location}")`
          );
          locationPara.appendChild(locationButton);
          ul.appendChild(locationPara);
        });

        doc.appendChild(ul);
      }

      function openLocationPage(locationName) {
        currentPage = locationName;
        L.control.sidebar("sidebar").addTo(map).open("home");

        ("{% for location in locations %}");
        if (locationName == "{{location.locationName}}") {
          var openingtime = "{{location.openingTime}}";
          var closingtime = "{{location.closingTime}}";
        }
        ("{% endfor %}");

        const doc = document.getElementById("mainInterface");
        doc.innerHTML = "";
        doc.appendChild(filterSection);

        const backButton = document.createElement("button");
        const name = document.createElement("h2");
        const timing = document.createElement("h3");
        const listing = document.createElement("div");

        backButton.id = "backHome";
        backButton.innerHTML = "Back to Homepage";
        backButton.type = "button";
        backButton.setAttribute("onclick", "openHomePage()");

        name.className = "location";
        name.innerHTML = `Viewing ${locationName}`;
        timing.className = "location";
        timing.innerHTML = `Operating Time: ${openingtime} - ${closingtime}`;

        let currentLevel, levelSection, title, studyspotPara, studyspotButton;
        const arr = ssfilter();
        console.log(arr);
        ("{% for studyspot in studyspots|dictsort:'levelNumber' %}");
        if (locationName == "{{ studyspot.locationName }}") {
          if (arr.includes("{{studyspot.description}}")) {
            if (currentLevel != "{{ studyspot.levelNumber }}") {
              levelSection = document.createElement("section");
              title = document.createElement("h3");
              studyspotsOnLevel = document.createElement("ul");

              title.innerHTML = `Level {{studyspot.levelNumber}}`;

              levelSection.appendChild(title);
              levelSection.appendChild(studyspotsOnLevel);
              listing.appendChild(levelSection);

              currentLevel = "{{ studyspot.levelNumber }}";
            }

            studyspotPara = document.createElement("li");
            studyspotImage = document.createElement("img");
            studyspottext = document.createElement("p");
            //studyspotButton = document.createElement("button");
            //studyspotPara.innerHTML = "{{ studyspot.description }}";

            studyspotPara.classList.add("studyspotbutton");
            studyspotImage.classList.add("photo");
            studyspotImage.src = "{{studyspot.image.url}}";
            studyspotImage.alt = "studyspot_image.jpg";

            // studyspotButton.innerHTML = "{{ studyspot.description }}";
            // studyspotButton.type = "button";
            studyspotPara.setAttribute(
              "onclick",
              "openStudyspotPage('{{ studyspot.description }}')"
            );
            studyspottext.innerHTML = "{{ studyspot.description }}";
            studyspotPara.appendChild(studyspotImage);
            studyspotPara.appendChild(studyspottext);

            //studyspotPara.appendChild(studyspotButton);
            studyspotsOnLevel.appendChild(studyspotPara);
          }
        }
        ("{% endfor %}");

        doc.appendChild(backButton);
        doc.appendChild(name);
        doc.appendChild(timing);
        doc.appendChild(listing);
      }

      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          var cookies = document.cookie.split(";");
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }

      function openStudyspotPage(studyspotDesc) {
        ("{% for studyspot in studyspots %}");
        if (studyspotDesc == "{{studyspot.description}}") {
          var aircon = "{{studyspot.airConditioned}}";
          var dfriendly = "{{studyspot.discussionFriendly}}";
          var wsocket = "{{studyspot.wallSockets}}";
          var locname = "{{studyspot.locationName.locationName}}";
          var pkno = "{{studyspot.pk}}";
        }
        ("{% endfor %}");

        const ratings = document.createElement("ul");
        ratings.innerHTML = ``;
        let ratingjson = fetch('{% url "sgw:ratingjson" %}')
          .then((x) => x.json())
          .then((x) => {
            const ratingArray = [];
            const lol = x.filter((y) => y.fields.studyspot == pkno);
            lol.forEach((x) => {
              console.log(x);
              ratings.innerHTML += `<li> ${x.fields.crowdedness}%, ${x.fields.whenRated} </li>`;
              ratingArray.push(x);
            });
            ratingDict = {};
            for (let time = 9; time < 21; time += 1) {
              const arr = [];
              ratingArray.forEach((rating) => {
                if (
                  time ===
                  parseInt(rating.fields.whenRated.slice(11, 13)) + 8
                ) {
                  arr.push(rating.fields.crowdedness);
                }
              });
              const avgvalue = arr.reduce((a, b) => a + b, 0) / arr.length;
              ratingDict[`${time}:00`] = avgvalue;
            }
            console.log(ratingDict);
            dataPoints = [];
            var chart = new CanvasJS.Chart("chartContainer", {
              title: {
                text: "Crowdedness",
                fontFamily: "Helvetica Neue",
              },
              data: [
                {
                  type: "column",
                  dataPoints: dataPoints,
                },
              ],
              axisY: {
                maximum: 100,
                minimum: 0,
              },
            });
            for (var time in ratingDict) {
              dataPoints.push({ label: time, y: ratingDict[time] });
            }
            chart.render();
          });

        const backButton = document.createElement("button");
        const heading = document.createElement("h2");
        const attribs = document.createElement("h3");
        const graphdiv = document.createElement("div");
        const rform = document.createElement("form");
        graphdiv.id = "chartContainer";
        graphdiv.style = "height: 300px; width: 100%;";

        backButton.id = "backLocation";
        backButton.innerHTML = `Back to ${locname}`;
        backButton.type = "button";
        backButton.setAttribute("onclick", `openLocationPage("${locname}")`);

        heading.innerHTML = `Viewing ${studyspotDesc}`;
        attribs.innerHTML = `<p>Air-conditioned: ${aircon}</p>
                <p>Can hold discussions: ${dfriendly}</p>
                <p>Has wall sockets: ${wsocket}</p>
                <p>Here are the past contributed crowdedness ratings: </p>`;

        // lol.forEach((x) => (ratings.innerHTML += `<li> ${x} </li>`));

        rform.id = "rform";
        rform.innerHTML = `{%csrf_token%}
        <label for = 'value'> Gauge the crowdedness of this place: </label>
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange"><br><br>
        <input type="submit" value="Submit">
        `;

        console.log(ratings);

        const cleareddoc = document.getElementById("mainInterface");

        cleareddoc.innerHTML = "";
        cleareddoc.appendChild(backButton);
        cleareddoc.appendChild(heading);
        cleareddoc.appendChild(attribs);
        cleareddoc.appendChild(ratings);
        cleareddoc.appendChild(graphdiv);
        cleareddoc.appendChild(rform);

        document
          .getElementById("rform")
          .addEventListener("submit", function (e) {
            e.preventDefault();

            var formData = new FormData();
            var valueField = document.getElementById("myRange").value;

            let headers = new Headers();
            const csrftoken = getCookie("csrftoken");
            headers.append("X-CSRFToken", csrftoken);

            formData.append("value", valueField);
            formData.append("ssname", `${studyspotDesc}`);
            formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");

            fetch('{% url "sgw:ratingform" %}', {
              method: "POST",
              body: formData,
              headers: headers,
              credentials: "same-origin",
            })
              // .then((response) => response.json())
              .catch((error) => console.error("Error:", error))
              .then((response) => {
                console.log("Success:", response);
                openStudyspotPage(studyspotDesc);
              });
          });
      }
    </script>
  </head>
  <body>
    {% leaflet_map "mymap" %}
    <div id="sidebar" class="sidebar collapsed">
      <!-- navigation tabs -->
      <div class="sidebar-tabs">
        <ul role="tablist">
          <li>
            <a href="#home" role="tab"><i class="fa fa-search"></i></a>
          </li>
          <li>
            <a href="#favourites" role="tab"><i class="fa fa-star"></i></a>
          </li>
          <li>
            <a href="#profile" role="tab"><i class="fa fa-user"></i></a>
          </li>
        </ul>
      </div>

      <!-- tab panes -->
      <div class="sidebar-content">
        <div class="sidebar-pane" id="home">
          <h1 class="sidebar-header">
            StudyGoWhere
            <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
          </h1>
          <!-- search bar with filter-->
          <div class="inner-addon left-addon">
            <i class="fa fa-search"></i>
            <input
              type="text"
              id="myInput"
              onkeyup="searchFunction()"
              placeholder="Search for locations.."
            />
          </div>
          <div id="mainInterface"></div>
          <p>fake copyright here. plus some site links</p>
        </div>

        <div class="sidebar-pane" id="favourites">
          <h1 class="sidebar-header">
            Favourites
            <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
          </h1>
        </div>

        <div class="sidebar-pane" id="profile">
          <h1 class="sidebar-header">
            Your Profile<span class="sidebar-close"
              ><i class="fa fa-caret-left"></i
            ></span>
          </h1>
        </div>
      </div>
    </div>

    <div id="map" class="sidebar-map"></div>

    <!-- for sidebar js -->
    {% load static %}
    <script src="{% static 'sgw/sidebar-v2/js/leaflet-sidebar.js' %}"></script>
  </body>
</html>
