<!DOCTYPE html>
<head>
    <title>
        {{location}}
    </title>
</head>
<body>
    <h1>{{location}}</h1>
    <div>
        operating times:{{openingTime}}-{{closingTime}}
    </div>
    <div>
        Levels:
        <ul>
            {% for ln in levelNumber%}
                <li>
                    {{ln}}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        StudySpots in this Location:
        <ul>
            {% for de in description%}
                <li>
                    {{de}}
                </li>
            {% endfor %}
        </ul>
    </div>
</body>